---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

$font-primary: Georgia, serif;
$font-secondary: "Helvetica Neue", sans-serif;
$font-accent: Lato, "Helvetica Neue", sans-serif;
$font-monospace: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;

$body-color: #555;
$heading-color: #333;
$link-color: #39c;
$link-hover-color: #069;
$border-color-muted: #e1e1e1;

$body-font-size: 16px;
$code-font-size: 14px;
$small-font-size: 14px;

$header-width-desktop: 230px;

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import 'header';
@import 'archive';
@import 'type';
@import 'structure';
@import 'scroll';
@import 'util';
