body {
  margin: 0;
  border-top: 3px solid #5cadd6;

  padding: 15px;
  @media (min-width: 481px) { padding: 50px; }
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
footer {
  width: $header-width-desktop;
}
section {
  width: 100%;
  padding-left: 260px;
  box-sizing: border-box;
}
.post {
  margin-top: 40px;
}

@media print, screen and (max-width: 966px) {
  .wrapper {
    width: auto;
    margin: 0;
  }

  header, section, footer {
    float: none;
    position: static;
    width: auto;
  }

  section {
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;
    margin: 0 0 20px;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
  }
}
