body {
  color: $body-color;
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.5em;
  font-size: $body-font-size;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
  margin: 0 0 20px;
  font-family: $font-accent;
}
h1, h2, h3 {
  line-height: 1.1;
}
h1, h2 {
  font-size: 30px;
}

.page-subtitle {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 400;
}
.meta {
  font-size: $body-font-size;
}

// Smaller headings when mobile
@media print, screen and (max-width: 480px) {
  h1, h2 {
    font-size: 26px;
  }
  .post-title {
    font-size: 22px;
  }

  // Center headings when mobile
  .page-title, .page-subtitle, .meta {
    text-align: center;
  }
}

p, ul, ol, table, pre, dl, .fluid-width-video-wrapper {
  margin: 0 0 20px;
}

a {
  color: $link-color;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
}

a small {
  margin-top: -0.6em;
  display: block;
  color: #222;
}

small, a small {
  font-size: $small-font-size;
}

blockquote {
  border-left: 2px solid $border-color-muted;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 30px;

  @media (max-width: 480px) {
    padding-left: 12px;
  }
}

code, pre {
  font-family: $font-monospace;
  color: #333;
  font-size: $code-font-size;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border: 1px solid $border-color-muted;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid $border-color-muted;
}

th {
  color: $body-color;
}

dt {
  color: $body-color;
  font-weight: 700;
}

img {
  max-width: 100%;
}

strong {
  color: $body-color;
  font-weight: 700;
}

hr {
  border: 0;
  background: $border-color-muted;
  height: 1px;
  margin: 0 0 20px;
}

section {
  float: right;
  padding-bottom: 50px;
}

p code, ul code {
  border: 1px solid $border-color-muted;
  padding: 1px 4px;
  border-radius: 4px;
}

ul.social, ul.index-menu {
  padding: 0;
  list-style: none;
}

h3 {
  .post & {
    padding-top: 25px;
  }

  &, & code {
    font-size: 24px;
  }

  code {
    font-weight: normal;
    color: #777;
    padding: 0 3px;
  }
}

blockquote code {
  font-style: normal;
}
